{% extends 'base.html.twig' %}

{% block title %}Modifier une Catégorie{% endblock %}

{% block body %}
<div class="bg-white shadow-md rounded-lg p-6 mb-4 flex justify-center">
   <h1 class="text-2xl font-bold mb-4">Modifier une Catégorie</h1>
</div>
<div class="bg-white shadow-md rounded-lg p-6 mb-4 flex justify-center">
    {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</div>

<div class="flex space-x-4 p-5 flex justify-center">
    <a href="{{ path('app_category_index') }}" class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400">Retour à la liste</a>
    {{ include('category/_delete_form.html.twig') }}
</div>
{% endblock %}